@font-face {
  font-family: "Ionicons";
  src: url("/node_modules/react-native-vector-icons/Fonts/Ionicons.ttf") format("truetype");
}

html, body {
  height: 100%;
}

body {
  margin: 0px;
  overflow: hidden;
}

#app-root {
  display: flex;
  height: 100%;
}
